Repository watanabe-1/rpc4next, changes with the labels that .github/labeler.yml gives for each.
All labels: app, ci, cli, client, server

refactor: rename validateCallBack to validateHandler for clarity
  src/rpc/server/validators/validator.ts
Labels: app, server

refactor: rename validateCallBack to validateHandler for clarity (#115)
  src/rpc/server/validators/validator.ts
Labels: app, server

chore: update @types/node to 22.15.2
  bun.lock
  package.json
Labels: none

chore: update @types/node to 22.15.2 (#116)
  bun.lock
  package.json
Labels: none

refactor: rename generatePages to generatePathStructure for clarity
  src/rpc/cli/core/generate-path-structure.test.ts
  src/rpc/cli/core/generate-path-structure.ts
  src/rpc/cli/generator.test.ts
  src/rpc/cli/generator.ts
Labels: app, cli

refactor: rename generatePages to generatePathStructure for clarity (#117)
  src/rpc/cli/core/generate-path-structure.test.ts
  src/rpc/cli/core/generate-path-structure.ts
  src/rpc/cli/generator.test.ts
  src/rpc/cli/generator.ts
Labels: app, cli

refactor: move searchParamsToObject to server-utils and update imports
  src/rpc/server/create-route-context.ts
  src/rpc/server/server-utils.test.ts
  src/rpc/server/server-utils.ts
Labels: app, server

refactor: rename create-route-context to route-context and update related imports
  src/rpc/server/route-context.test.ts
  src/rpc/server/route-context.ts
  src/rpc/server/route-handler-factory.ts
Labels: app, server

refactor: rename create-handler to handler and update related imports
  src/rpc/server/handler.test.ts
  src/rpc/server/handler.ts
  src/rpc/server/validators/validator.ts
Labels: app, server

refactor: rename and organize server folder files (#118)
  src/rpc/server/handler.test.ts
  src/rpc/server/handler.ts
  src/rpc/server/route-context.test.ts
  src/rpc/server/route-context.ts
  src/rpc/server/route-handler-factory.ts
  src/rpc/server/server-utils.test.ts
  src/rpc/server/server-utils.ts
  src/rpc/server/validators/validator.ts
Labels: app, server

chore: update test coverage reporting settings
  .github/workflows/test-coverage.yml
  vitest.config.ts
Labels: ci

chore: update test coverage reporting settings (#119)
  .github/workflows/test-coverage.yml
  vitest.config.ts
Labels: ci

refactor: move client utility functions to client-utils.ts and update imports
  src/rpc/client/client-utils.test.ts
  src/rpc/client/client-utils.ts
  src/rpc/client/http-method.ts
  src/rpc/client/match.ts
  src/rpc/client/rpc-client.ts
  src/rpc/client/rpc.ts
Labels: app, client

refactor: move client utility functions to client-utils.ts and update imports (#120)
  src/rpc/client/client-utils.test.ts
  src/rpc/client/client-utils.ts
  src/rpc/client/http-method.ts
  src/rpc/client/match.ts
  src/rpc/client/rpc-client.ts
  src/rpc/client/rpc.ts
Labels: app, client

chore: update Dependabot configuration to group Bun and GitHub Actions updates
  .github/dependabot.yml
Labels: ci

chore: update Dependabot configuration to group Bun and GitHub Actions updates (#121)
  .github/dependabot.yml
Labels: ci

chore: simplify Bun setup by using bun-version-file option
  .github/workflows/bun-test.yml
  .github/workflows/node-test.yml
  .github/workflows/release-on-merge.yml
Labels: ci

chore: simplify Bun setup by using bun-version-file option (#123)
  .github/workflows/bun-test.yml
  .github/workflows/node-test.yml
  .github/workflows/release-on-merge.yml
Labels: ci

refactor: rename zodValidator to zValidator across server and client tests
  src/rpc/client/rpc-validater.test.ts
  src/rpc/server/validators/zod/index.ts
  src/rpc/server/validators/zod/zod-validator.test.ts
  src/rpc/server/validators/zod/zod-validator.ts
Labels: app, client, server

refactor: rename zodValidator to zValidator across server and client tests (#124)
  src/rpc/client/rpc-validater.test.ts
  src/rpc/server/validators/zod/index.ts
  src/rpc/server/validators/zod/zod-validator.test.ts
  src/rpc/server/validators/zod/zod-validator.ts
Labels: app, client, server

refactor: narrow valid method argument type and adjust test typings
  src/rpc/server/route-context.test.ts
  src/rpc/server/types.ts
  src/rpc/server/validators/validator.test.ts
Labels: app, server

refactor: narrow valid method argument type and adjust test typings (#125)
  src/rpc/server/route-context.test.ts
  src/rpc/server/types.ts
  src/rpc/server/validators/validator.test.ts
Labels: app, server

feat: add HttpMethod typing to handler, validator, and validation targets for improved type safety
  src/rpc/server/handler.test.ts
  src/rpc/server/handler.ts
  src/rpc/server/route-handler-factory.ts
  src/rpc/server/route-types.ts
  src/rpc/server/types.ts
  src/rpc/server/validators/validator.ts
  src/rpc/server/validators/zod/zod-validator.test.ts
  src/rpc/server/validators/zod/zod-validator.ts
Labels: app, server

feat: add HttpMethod typing to handler, validator, and validation targets for improved type safety (#126)
  src/rpc/server/handler.test.ts
  src/rpc/server/handler.ts
  src/rpc/server/route-handler-factory.ts
  src/rpc/server/route-types.ts
  src/rpc/server/types.ts
  src/rpc/server/validators/validator.ts
  src/rpc/server/validators/zod/zod-validator.test.ts
  src/rpc/server/validators/zod/zod-validator.ts
Labels: app, server

docs: add explanation comment for _THttpMethod in Handler type
  src/rpc/server/route-types.ts
Labels: app, server

docs: add explanation comment for _THttpMethod in Handler type (#127)
  src/rpc/server/route-types.ts
Labels: app, server

docs: update description to remove reference to `honolike` in type-safety section
  README.md
Labels: none

docs: update description to remove reference to `honolike` in type-safety section (#129)
  README.md
Labels: none

docs: improve server-side type-safe route creation guide in README
  README.md
Labels: none

docs: improve server-side type-safe route creation guide in README (#130)
  README.md
Labels: none

docs: improve README with updated server/client usage examples and validation targets
  README.md
Labels: none

docs: improve README with updated server/client usage examples and validation targets (#131)
  README.md
Labels: none

feat: infer query types from zValidator without needing to export them
  src/rpc/client/index.ts
  src/rpc/client/rpc-client.test.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/client/types.ts
Labels: app, client

refactor: remove OptionalQuery support in favor of unified Query type inference
  README.md
  src/rpc/cli/core/constants.ts
  src/rpc/cli/core/generate-path-structure.test.ts
  src/rpc/cli/core/scan-utils.test.ts
  src/rpc/cli/core/scan-utils.ts
Labels: app, cli

docs: update README to reflect no need to export Query type with zValidator
  README.md
Labels: none

feat: infer query types from zValidator without needing to export them (#133)
  README.md
  src/rpc/cli/core/constants.ts
  src/rpc/cli/core/generate-path-structure.test.ts
  src/rpc/cli/core/scan-utils.test.ts
  src/rpc/cli/core/scan-utils.ts
  src/rpc/client/index.ts
  src/rpc/client/rpc-client.test.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/client/types.ts
Labels: app, cli, client

chore: change Dependabot bun update schedule to weekly
  .github/dependabot.yml
Labels: ci

chore: change Dependabot bun update schedule to weekly (#134)
  .github/dependabot.yml
Labels: ci

refactor: simplify ParamFunction variadic tuple usage for clarity
  src/rpc/client/types.ts
Labels: app, client

refactor: simplify ParamFunction variadic tuple usage for clarity (#135)
  src/rpc/client/types.ts
Labels: app, client

.github/labeler.yml:

app:
  - changed-files:
      - any-glob-to-any-file: "src/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

cli:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/cli/**"

client:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/client/**"

server:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/server/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
      - any-glob-to-any-file: "**/*.md"
  - head-branch: ["^docs/"]

test:
  - changed-files:
      - any-glob-to-any-file: "src/tests/**"
      - any-glob-to-any-file: "**/*.test.*"
  - head-branch: ["^test/"]

feature:
  - head-branch: ["^feature/", "^feat/"]

fix:
  - head-branch: ["^bugfix/", "^fix/", "^bug/"]

chore:
  - head-branch: ["^chore/"]

refactor:
  - head-branch: ["^refactor/"]

release:
  - head-branch: ["^release/"]

hotfix:
  - head-branch: ["^hotfix/"]
