Repository watanabe-1/rpc4next, changes with the labels that .github/labeler.yml gives for each.
All labels: app, ci, cli, client, server

.github/labeler.yml:

app:
  - changed-files:
      - any-glob-to-any-file: "src/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

cli:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/cli/**"

client:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/client/**"

server:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/server/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
      - any-glob-to-any-file: "**/*.md"
  - head-branch: ["^docs/"]

test:
  - changed-files:
      - any-glob-to-any-file: "src/tests/**"
      - any-glob-to-any-file: "**/*.test.*"
  - head-branch: ["^test/"]

feature:
  - head-branch: ["^feature/", "^feat/"]

fix:
  - head-branch: ["^bugfix/", "^fix/", "^bug/"]

chore:
  - head-branch: ["^chore/"]

refactor:
  - head-branch: ["^refactor/"]

release:
  - head-branch: ["^release/"]

hotfix:
  - head-branch: ["^hotfix/"]

feat: support headersInit property separately from headers in client options
  src/rpc/client/http-method.test.ts
  src/rpc/client/http-method.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/client/types.ts
Labels: app, client

feat: support headersInit property separately from headers in client options (#136)
  src/rpc/client/http-method.test.ts
  src/rpc/client/http-method.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/client/types.ts
Labels: app, client

feat: add support for typed response headers and normalizeHeaders utility
  src/rpc/client/http-method.ts
  src/rpc/lib/headers.test.ts
  src/rpc/lib/headers.ts
  src/rpc/server/route-context.test.ts
  src/rpc/server/route-context.ts
  src/rpc/server/types.ts
Labels: app, client, server

feat: add support for typed response headers and normalizeHeaders utility (#137)
  src/rpc/client/http-method.ts
  src/rpc/lib/headers.test.ts
  src/rpc/lib/headers.ts
  src/rpc/server/route-context.test.ts
  src/rpc/server/route-context.ts
  src/rpc/server/types.ts
Labels: app, client, server

feat: support passing status code directly to response helpers in route context
  src/rpc/server/route-context.test.ts
  src/rpc/server/route-context.ts
  src/rpc/server/types.ts
Labels: app, server

feat: support passing status code directly to response helpers in route context (#138)
  src/rpc/server/route-context.test.ts
  src/rpc/server/route-context.ts
  src/rpc/server/types.ts
Labels: app, server

feat: extend HTTP header types with additional standard headers from MDN
  src/rpc/lib/http-request-headers-types.ts
  src/rpc/lib/http-response-headers-types.ts
Labels: app

feat: extend HTTP header types with additional standard headers from MDN (#139)
  src/rpc/lib/http-request-headers-types.ts
  src/rpc/lib/http-response-headers-types.ts
Labels: app

feat: add comprehensive list of known MIME content types to KnownContentType
  src/rpc/lib/content-type-types.ts
Labels: app

feat: add comprehensive list of known MIME content types to KnownContentType (#140)
  src/rpc/lib/content-type-types.ts
Labels: app

feat: support parsing query and hash in matchPath and infer types in rpcHelper
  src/rpc/client/match.test.ts
  src/rpc/client/match.ts
  src/rpc/client/rpc-helper.test.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/client/types.ts
  src/rpc/lib/searchParams.test.ts
  src/rpc/lib/searchParams.ts
  src/rpc/server/route-context.ts
Labels: app, client, server

feat: support parsing query and hash in matchPath and infer types in rpcHelper (#141)
  src/rpc/client/match.test.ts
  src/rpc/client/match.ts
  src/rpc/client/rpc-helper.test.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/client/types.ts
  src/rpc/lib/searchParams.test.ts
  src/rpc/lib/searchParams.ts
  src/rpc/server/route-context.ts
Labels: app, client, server

refactor: rename searchParams to search-params and update references accordingly
  src/rpc/client/match.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/lib/search-params.test.ts
  src/rpc/lib/search-params.ts
  src/rpc/server/route-context.ts
Labels: app, client, server

refactor: rename searchParams to search-params and update references accordingly (#142)
  src/rpc/client/match.ts
  src/rpc/client/rpc-validater.test.ts
  src/rpc/lib/search-params.test.ts
  src/rpc/lib/search-params.ts
  src/rpc/server/route-context.ts
Labels: app, client, server

chore: use Bun instead of Node to get version from package.json in release workflow
  .github/workflows/release-on-merge.yml
Labels: ci

chore: use Bun instead of Node to get version from package.json in release workflow (#143)
  .github/workflows/release-on-merge.yml
Labels: ci

chore: simplify externals definition and remove unnecessary spread in build script
  build.ts
Labels: none

chore: simplify externals definition and remove unnecessary spread in build script (#145)
  build.ts
Labels: none

chore: remove unused ts-node dependency
  package.json
Labels: none

chore: clean up bun.lock by removing ts-node and related dependencies
  bun.lock
Labels: none

chore: remove unused ts-node dependency (#146)
  bun.lock
  package.json
Labels: none

chore: update Node.js to 23.11.0 and Bun to 1.2.12
  .tool-versions
Labels: none

chore: update Node.js to 23.11.0 and Bun to 1.2.12 (#147)
  .tool-versions
Labels: none

docs: add DeepWiki badge to README
  README.md
Labels: none

docs: add DeepWiki badge to README (#150)
  README.md
Labels: none

refactor: replace deprecated Zod v3 types with Zod v4 equivalents in validator and tests
  src/rpc/server/validators/zod/zod-validator.test.ts
  src/rpc/server/validators/zod/zod-validator.ts
Labels: app, server

chore: bump Bun version to 1.2.19 in .tool-versions
  .tool-versions
Labels: none

chore: bump Bun version to 1.2.19 in .tool-versions (#159)
  .tool-versions
Labels: none

chore: update test coverage workflow to include actions read permission and coverage artifact details
  .github/workflows/test-coverage.yml
Labels: ci

chore: update test coverage workflow to include actions read permission and coverage artifact details (#162)
  .github/workflows/test-coverage.yml
Labels: ci

test: add comprehensive cases for createImportAlias including regression guard, edge cases, and format validation
  src/rpc/cli/core/alias.test.ts
Labels: app, cli

test: add comprehensive cases for createImportAlias including regression guard, edge cases, and format validation (#163)
  src/rpc/cli/core/alias.test.ts
Labels: app, cli

fix: harden matchPath against malformed encodings and invalid URLs by adding safeDecode and base-path normalization; allow optional trailing slash; add edge-case tests (query/hash/path and root)
  src/rpc/client/match.test.ts
  src/rpc/client/match.ts
Labels: app, client

feat: enhance httpMethod with richer body support (json/text/formData/urlencoded/raw), content-type inference, cookie merging, GET/HEAD body stripping, improved error messages; update tests
  src/rpc/client/http-method.test.ts
  src/rpc/client/http-method.ts
Labels: app, client

feat: enhance httpMethod with richer body support (json/text/formData/urlencoded/raw), content-type inference, cookie merging, GET/HEAD body stripping, improved error messages; update tests (#169)
  src/rpc/client/http-method.test.ts
  src/rpc/client/http-method.ts
Labels: app, client

update: Rework RPC proxy to use apply trap, ignore symbols/then, preserve dynamic placeholders, and clarify error messages; add edge-case tests
  src/rpc/client/rpc-client.test.ts
  src/rpc/client/rpc.test.ts
  src/rpc/client/rpc.ts
Labels: app, client

update: Rework RPC proxy to use apply trap, ignore symbols/then, preserve dynamic placeholders, and clarify error messages; add edge-case tests (#170)
  src/rpc/client/rpc-client.test.ts
  src/rpc/client/rpc.test.ts
  src/rpc/client/rpc.ts
Labels: app, client

chore(deps-dev): add diff2prompt and npm script with excludes
  .gitignore
  bun.lock
  package.json
Labels: none

chore(deps-dev): add diff2prompt and npm script with excludes (#172)
  .gitignore
  bun.lock
  package.json
Labels: none

chore(deps-dev): bump diff2prompt to v0.0.6
  bun.lock
  package.json
Labels: none
