Repository watanabe-1/rpc4next, changes with the labels that .github/labeler.yml gives for each.
All labels: app, ci, cli, client, server

chore(deps-dev): bump diff2prompt to v0.0.6 (#173)
  bun.lock
  package.json
Labels: none

chore: update bun lockfile
  bun.lock
Labels: none

fix(deps-dev): Add fast-glob to devDependencies
  bun.lock
  package.json
Labels: none

chore: update bun lockfile
  bun.lock
Labels: none

refactor(cli): Replace chalk with tty-aware colors
  bun.lock
  package.json
  src/rpc/cli/colors.test.ts
  src/rpc/cli/colors.ts
  src/rpc/cli/logger.test.ts
  src/rpc/cli/logger.ts
Labels: app, cli

refactor(cli): Replace chalk with tty-aware colors (#187)
  bun.lock
  package.json
  src/rpc/cli/colors.test.ts
  src/rpc/cli/colors.ts
  src/rpc/cli/logger.test.ts
  src/rpc/cli/logger.ts
Labels: app, cli

chore: rename shared package and align builds
  bun.lock
  eslint.config.mjs
  package.json
  packages/rpc4next-cli/package.json
  packages/rpc4next-cli/src/cli/core/route-scanner.ts
  packages/rpc4next-cli/src/cli/core/scan-utils.ts
  packages/rpc4next-cli/src/rpc4next-shims.d.ts
  packages/rpc4next-cli/tsconfig.json
  packages/rpc4next-shared/build.ts
  packages/rpc4next-shared/package.json
  packages/rpc4next-shared/src/constants.d.ts
  packages/rpc4next-shared/src/constants.ts
  packages/rpc4next-shared/src/index.ts
  packages/rpc4next-shared/src/types.d.ts
  packages/rpc4next-shared/src/types.ts
  packages/rpc4next-shared/tsconfig.build-types.json
  packages/rpc4next-shared/tsconfig.build.json
  packages/rpc4next-shared/tsconfig.json
  packages/rpc4next/package.json
  packages/rpc4next/src/rpc/lib/constants.ts
  packages/rpc4next/src/rpc/lib/types.ts
  packages/rpc4next/tsconfig.build-types.json
  packages/rpc4next/tsconfig.build.json
  packages/rpc4next/tsconfig.json
  tsconfig.json
  vitest.config.ts
Labels: none

chore: ensure d.ts build outputs
  packages/rpc4next-cli/package.json
  packages/rpc4next-shared/package.json
  packages/rpc4next/package.json
Labels: none

chore: centralize build config and lint declarations
  eslint.config.mjs
  packages/build-utils.ts
  packages/rpc4next-cli/build.ts
  packages/rpc4next-cli/src/cli/core/route-scanner.ts
  packages/rpc4next-shared/build.ts
  packages/rpc4next-shared/tsconfig.declarations.json
  packages/rpc4next/build.ts
  packages/tsconfig.eslint.json
Labels: none

chore(build): Remove shared declarations tsconfig and d.ts stubs
  eslint.config.mjs
  packages/rpc4next-shared/src/constants.d.ts
  packages/rpc4next-shared/src/types.d.ts
  packages/rpc4next-shared/tsconfig.declarations.json
Labels: none

chore(build): adopt project references for shared imports
  packages/rpc4next-cli/src/cli/core/route-scanner.ts
  packages/rpc4next-cli/src/cli/core/scan-utils.ts
  packages/rpc4next-cli/tsconfig.json
  packages/rpc4next-shared/tsconfig.json
  packages/rpc4next/package.json
  packages/rpc4next/src/rpc/client/client-utils.test.ts
  packages/rpc4next/src/rpc/client/client-utils.ts
  packages/rpc4next/src/rpc/client/types.ts
  packages/rpc4next/src/rpc/lib/constants.ts
  packages/rpc4next/src/rpc/lib/types.ts
  packages/rpc4next/src/rpc/server/handler.test.ts
  packages/rpc4next/src/rpc/server/handler.ts
  packages/rpc4next/src/rpc/server/route-handler-factory.ts
  packages/rpc4next/src/rpc/server/route-types.ts
  packages/rpc4next/src/rpc/server/types.ts
  packages/rpc4next/src/rpc/server/validators/validator.ts
  packages/rpc4next/src/rpc/server/validators/zod/zod-validator.ts
  packages/rpc4next/tsconfig.build-types.json
  packages/rpc4next/tsconfig.build.json
  packages/rpc4next/tsconfig.json
  tsconfig.base.json
Labels: none

chore(deps): Make Next a peer dep for rpc4next-cli
  packages/rpc4next-cli/build.ts
  packages/rpc4next-cli/package.json
Labels: none

chore(ci): Migrate releases to release-please with provenance
  .github/workflows/add-version-to-pr-title.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
  .github/workflows/release-on-merge.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  packages/rpc4next-cli/package.json
  packages/rpc4next-shared/package.json
  packages/rpc4next/package.json
  release-please-config.json
Labels: ci

chore(ci): Run build before typecheck in workflows
  .github/workflows/bun-test.yml
  .github/workflows/node-test.yml
  .github/workflows/publish.yml
Labels: ci

chore(build): Move diff2prompt excludes to config
  conventional-commit.tpl.md
  diff2prompt.config.json
  package.json
Labels: none

chore(build): Move diff2prompt excludes to config (#190)
  conventional-commit.tpl.md
  diff2prompt.config.json
  package.json
Labels: none

chore(deps): Set Dependabot commit prefix to fix(deps)
  .github/dependabot.yml
Labels: ci

chore(deps): Set Dependabot commit prefix to fix(deps) (#191)
  .github/dependabot.yml
Labels: ci

chore: update bun.lock
  bun.lock
Labels: none

chore(ci): align dependabot commit prefix
  .github/dependabot.yml
Labels: ci

chore(ci): align dependabot commit prefix (#193)
  .github/dependabot.yml
Labels: ci

chore(ci): Add Dependabot updates for packages
  .github/dependabot.yml
Labels: ci

chore(ci): Add Dependabot updates for packages (#194)
  .github/dependabot.yml
Labels: ci

refactor(rpc): Use arrow functions and trailing commas
  packages/rpc4next/src/rpc/client/http-method.ts
Labels: none

fix(rpc): Use arrow functions and trailing commas (#197)
  packages/rpc4next/src/rpc/client/http-method.ts
Labels: none

fix(ci): force npmjs registry in publish job
  .github/workflows/publish.yml
Labels: ci

fix(ci): force npmjs registry in publish job (#199)
  .github/workflows/publish.yml
Labels: ci

refactor(client): convert match helpers to const
  packages/rpc4next/src/rpc/client/match.ts
Labels: none

refactor(client): convert match helpers to const (#200)
  packages/rpc4next/src/rpc/client/match.ts
Labels: none

docs(rpc): add TSDoc for normalizeBasePath
  packages/rpc4next/src/rpc/client/match.ts
Labels: none

fix(rpc): add TSDoc for normalizeBasePath (#201)
  packages/rpc4next/src/rpc/client/match.ts
Labels: none

fix(ci): publish only when paths are released
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
Labels: ci

fix(ci): publish only when paths are released (#203)
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
Labels: ci

docs(rpc): Add TSDoc for safeDecode
  packages/rpc4next/src/rpc/client/match.ts
Labels: none

fix(rpc): Add TSDoc for safeDecode (#204)
  packages/rpc4next/src/rpc/client/match.ts
Labels: none

docs/rpc/add-tsdoc-normalizeheaders
  packages/rpc4next/src/rpc/lib/headers.ts
Labels: none

fix(rpc): Add TSDoc for normalizeHeaders (#206)
  packages/rpc4next/src/rpc/lib/headers.ts
Labels: none

docs(rpc): Add TSDoc for search params helper
  packages/rpc4next/src/rpc/lib/search-params.ts
Labels: none

docs(rpc): Add TSDoc for search params helper (#208)
  packages/rpc4next/src/rpc/lib/search-params.ts
Labels: none

docs(rpc): Add TSDoc for buildUrlSuffix
  packages/rpc4next/src/rpc/client/url.ts
Labels: none

.github/labeler.yml:

app:
  - changed-files:
      - any-glob-to-any-file: "src/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

cli:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/cli/**"

client:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/client/**"

server:
  - changed-files:
      - any-glob-to-any-file: "src/rpc/server/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
      - any-glob-to-any-file: "**/*.md"
  - head-branch: ["^docs/"]

test:
  - changed-files:
      - any-glob-to-any-file: "src/tests/**"
      - any-glob-to-any-file: "**/*.test.*"
  - head-branch: ["^test/"]

feature:
  - head-branch: ["^feature/", "^feat/"]

fix:
  - head-branch: ["^bugfix/", "^fix/", "^bug/"]

chore:
  - head-branch: ["^chore/"]

refactor:
  - head-branch: ["^refactor/"]

release:
  - head-branch: ["^release/"]

hotfix:
  - head-branch: ["^hotfix/"]
